/*Use this for custom stuff for home page*/

.extras {
	text-align:center;
}

.sandwiches {
	text-align:center;
	font-size:15px;
}

.jumbotron {
	text-align:center;
	height:900px;
}

.about-right {
	font-size:18px;
}

.salads, .chili {
	text-align:center;
	margin-top:50px;
	margin-bottom:20px;
}


